body {
	font-family: verdana,sans-serif;
}

p {
	font-size: 85%;
	margin: 7px 0;
}

div.record {
	width: 350px;
	height: 400px;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
}

img {
	border: 1px solid grey;
	box-shadow: 5px 5px 5px rgb(204, 204, 204);
	margin: 10px;
	max-width: 300px;
	max-height: 300px;
}

h1 {
	margin: 0;
	font-size: 130%;
}

h2 {
	margin: 10px 10px 4px 10px;
	font-size: 110%;
}

h3 {
	margin: 0 10px 10px 10px;
	font-size: 85%;
}
